@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 169 41% 8%;

        --card: 0 0% 100%;
        --card-foreground: 169 41% 8%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 217.2 91.2% 59.8%;
        --primary-foreground: 0 0% 98%;

        --secondary: 216 63% 59%;
        --secondary-foreground: 169 41% 8%;

        --muted: 217 43% 82%;
        --muted-foreground: 169 41% 8%;

        --accent: 215 61% 44%;
        --accent-foreground: 169 41% 8%;

        --destructive: 0 61% 44%;
        --destructive-foreground: 169 41% 8%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 218 65% 3%;
        --foreground: 0 0% 92%;

        --card: 218 33% 6%;
        --card-foreground: 0 0% 92%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 92%;

        --primary: 221 77% 34%;
        --primary-foreground: 0 0% 92%;

        --secondary: 216 63% 41%;
        --secondary-foreground: 0 0% 92%;

        --muted: 218 41% 18%;
        --muted-foreground: 0 0% 92%;

        --accent: 215 61% 56%;
        --accent-card: 218 53% 83%;
        --accent-foreground: 0 0% 92%;

        --destructive: 0, 68%, 56%;
        --destructive-foreground: 0, 48%, 77%;

        --border: 240 3.7% 15.9%;
        --input: 0 0% 50%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
